.button-primary{
    padding: 5px 12px;
    background: #F4711E;
    box-shadow: 0px 4px 61px rgba(77, 71, 195, 0.4);
    border-radius: 9px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
/* identical to box height */
    color: #FFFFFF;
    border: none;
    width: 360px;
    height: 60px;
    margin: 1rem 0;
    cursor: pointer;
}

@media screen and (max-width:650px) {
    
    .button-primary{
        width: 82vw;    

    }
  }